* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for header */
.portfolio-header {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px 0; /* Padding */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo styles */
.logo h1 {
    font-size: 24px;
}

/* Navigation styles */
.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    margin-right: 20px;
}

.navigation ul li:last-child {
    margin-right: 0;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Call-to-action button styles */
.cta .btn {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.cta .btn:hover {
    background-color: #ff6347;
}

body {
    background-color: #D3D3D3; /* light grey */
}

h2{
    margin-left: 20px;
    font-size: 40px;
    padding: 30px 20px;
}
